/**
 *
 * All scss here
 */

 $width:1002px;
 $header-border:4px solid black;
 $header-height:38px;
 $font-size-small:13px;
 $font-size-medium:25px; 
 $font-stack:Josefin Sans;
 $div-width:1002px;
 $picture-width:227px;

.container-zero { 
	width: $width;
	font: 100% $font-stack;
	margin:0 auto;
	overflow:auto; 
		h1 {
			font-size:$font-size-medium;
			font-weight:lighter;
			width:34px;
			float:left;
		}
		ul {
			width:268px;
			float:right;
			li {
				font-size:$font-size-small;
				list-style:none;
				display:inline-block;
				margin-right:5px;
			}
		}
}

.container-one {
	width:$width;
	margin:0 auto;
	overflow:auto;
	 .picture {
	 	width:$picture-width;
	 	float:left;
	 	overflow:auto;
	 	position:relative;
	 	margin-top:151px;
	 }
	 .copy-one {
	 	width:560px;
	 	font: 100% $font-stack;
	 	float:right;
	 	overflow:auto;
	 	position:relative;
	 	h2{
	 		font-size:60px;
	 		font-weight:bold;
	 		float:right;
	 		position:relative;
	 		margin-top:151px;
	 	}
	 	p{
	 		font-weight:lighter;
	 		font-size:20px;
	 		margin-top:10px;
	 		position:relative;
	 	}
	 	button{
	 		width:207px;
	 		height:50px;
	 		border-radius:40px;
	 		background-color:#FEB648;
	 		color:#FFFFFF;
	 		font-size:18px;
	 		font-weight:lighter;
	 		font:100% $font-stack;
	 		box-shadow: 5px 5px #FEB648;
	 } 
}







