/**
 *
 * All scss here 
 */

@import "reset";

@font-face {
  font-family: 'themefisher-font';
  src:  url('../../fonts/themefisher/themefisher-font.eot?ug5hnh');
  src:  url('../../fonts/themefisher/themefisher-font.eot?ug5hnh#iefix') format('embedded-opentype'),
    url('../../fonts/themefisher/themefisher-font.ttf?ug5hnh') format('truetype'),
    url('../../fonts/themefisher/themefisher-font.woff?ug5hnh') format('woff'),
    url('../../fonts/themefisher/themefisher-font.svg?ug5hnh#themefisher-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'JosefinSans';
	src: url('../../fonts/josefin-sans/Josefin-Sans.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/josefin-sans/Josefin-Sans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/josefin-sans/Josefin-Sans.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/josefin-sans/Josefin-Sans.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../../fonts/josefin-sans/Josefin-Sans.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/josefin-sans/Josefin-Sans.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'JosefinSans';
	src: url('../../fonts/josefin-sans/Josefin-Sans-Bold.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/josefin-sans/Josefin-Sans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'JosefinSans';
	src: url('../../fonts/josefin-sans/Josefin-Sans-Bold-Italic.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/josefin-sans/Josefin-Sans-Bold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold-Italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold-Italic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/josefin-sans/Josefin-Sans-Bold-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Lora';
	src: url('../../fonts/lora/Lora-Italic.eot'); /* IE9 Compat Modes */
	src: url('../../fonts/lora/Lora-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/lora/Lora-Italic.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/lora/Lora-Italic.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../../fonts/lora/Lora-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/lora/Lora-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 400;
	font-style: italic;
}

 $width:1002px;
 $header-height:38px;
 $font-size-small:13px;
 $font-size-medium:25px; 
 $font-stack:Josefin Sans;
 $div-width:1002px;
 $picture-width:227px;
 $all-white:#FFFFFF;
 $button-color:#FEB648;

 body {
 	font-family:$font-stack;
 }

.container {
	max-width: $width;
	margin: 0 auto;
	overflow: hidden; 
}

.container--large {
	max-width: 1041px;
}

.container--xlarge {
	max-width: 1149px;
}

.container--small {
	max-width: 991px;
}

.full-width-bg {
	background-color: #FDA920;
}

.watch {
 	width: 25%;
 	float:left;
 	overflow:auto;
 	position:relative;
 	text-align: center;

	img {
		display: inline-block;
		max-width: 100%;
		height: 275px;
	}
}

.container-zero { 
	font-family:$font-stack;

		h1 {
			font-size:$font-size-medium;
			font-weight: 300;
			width:34px;
			float:left;
		}
		ul {
			width:268px;
			float:right;
			li {
				font-size:$font-size-small;
				list-style:none;
				display:inline-block;
				margin-right:5px;
			}
		}
	}
.container-one {

	 .copy-one {
	 	width:560px;
	 	font:$font-stack;
	 	float:right;
	 	overflow:auto;
	 	position:relative;
	 	h2{
	 		font-size:60px;
	 		font-weight:bold;
	 		float:right;
	 		position:relative;
	 		margin-top:151px;
	 		margin-bottom:29px;
	 	}

	 	p {
		 	font-weight:lighter;
		 	font-size:20px;
		 	margin-top:50px;
		 	position:relative;
	 		}
	 	.buy-now {
	 		width:207px;
	 		height:50px;
	 		border-radius:40px;
	 		background-color:$button-color;
	 		color:$all-white;
	 		font-size:18px;
	 		font-weight:lighter;
	 		font-family:$font-stack;
	 		border:none;
	 		margin-top:29px; 
	 		box-shadow:0 0 15px $button-color;
	 		} 
		}

	.picture {
		width:$picture-width;
		margin-top:62px;
		float: left;
	}
}
.container-two {
	font-family:$font-stack;  

	.copy-two{
		width:100%;
		text-align:center;
		font-size:40px;
		font-weight:bold;
		margin-top:190px;
	}
	.copy-three,.picture,.copy-four {
		display:inline-block;
		margin-right:30px;
		margin-left:20px;
		position:relative;
	}

	.copy-three, .copy-four {
		width:320px;
		overflow:auto;
		box-sizing:border-box;
	}

	.copy-three {
		.box-copy-one {

		.tf-ion-ios-camera-outline:before {
  		content:"\f3f5";
  		font-family:"themefisher-font";
  		font-size:30px; 
			}
		}

		.box-copy-two {
			.tf-ion-ios-camera-outline:before {
	  		content:"\f3f5";
	  		font-family:"themefisher-font";
	  		font-size:30px; 
			}
		}

		.box-copy-three {

			.tf-ion-ios-camera-outline:before {
	  		content:"\f3f5";
	  		font-family:"themefisher-font";
	  		font-size:30px; 
			}

		}

	}
	.picture {
		width:$picture-width;
		margin-top:62px;
	}
	.copy-four {	
		.tf-mobile:before {
  		content:"\e000";
  		font-family:"themefisher-font";
  		font-size:30px;  
		}
		margin-left:30px;
	}
	h4 {
		font-size:20px;
		font-weight:bold;
	}
	p {
		font-size:18px;
		font-weight:normal;
		margin-bottom:34px;
	}
}
.container-three {
	width:100%;
	margin-top:92px;
	font-family:$font-stack;
	color:$all-white;
	position:relative;
	text-align:center;
	.picture {
		width:$picture-width;
		margin:92px 92px 92px 0px;
	}
	.copy-five {
		margin:194px auto;
		text-align:left;
		h3 {
			font-size:40px;
			font-weight:bold;
			margin-bottom:34px;
			width:663px;
		}
		p {
			font-size:18px;
			font-weight:lighter;
			width:593.46px;
		}
	}
	.picture,.copy-five {
		display:inline-block;
		overflow:auto;
		position:relative;		
	}
}

.container-four {
	font-family:$font-stack;

	.copy-six{
		display:block;
		font-size:40px;
		font-weight:bold;
		color:#3C3C3C;
		text-align:center;
		margin-top:70px;
	}
	.picture{
		width:337px;
		margin-right:102px;
	}
	.copy-seven{
		width:496px;
		margin-top:169px;
		margin-bottom:119px;
		h5 {
			font-size:32px;		
		}
		p {
			font-size:18px;
		}
		h5, p {
			margin-bottom:20px;
			color:#3C3C3C;
		}
		button {
			width:176px;
			height:38px;
			border-radius:40px;
	 		background-color:#FEB648;
	 		color:$all-white;
	 		font-size:16px;
	 		font-weight:lighter;
	 		font-family:$font-stack;
	 		border:none;  
		}
	}
	.picture,.copy-seven {
		display:inline-block;
		overflow:auto;
	}
}
.container-five {
	font-family:$font-stack;

	.copy-eight {
		width:496px;
		margin:60px auto;
		h5 {
			font-size:32px;		
		}
		p {
			font-size:18px;
		}
		h5, p {
			margin-bottom:20px;
			color:#3C3C3C;
		}
		button {
			width:176px;
			height:38px;
			border-radius:40px;
	 		background-color:$button-color;
	 		color:$all-white;
	 		font-size:16px;
	 		font-weight:lighter;
	 		font-family:$font-stack;
	 		border:none; 
		}
	}
	.picture{
		width:333px;
		margin-right:82px;
		}
	.picture,.copy-eight {
		display:inline-block;
		overflow:auto;
	}
}
.watches {
	font-family:$font-stack;
	overflow: hidden;

	.copy-eleven {
		margin:80px auto;
		display:block;
		text-align:center;
		font-size:40px;
		color:#3C3C3C;
		font-weight:bold;
	} 
} 
.subscribe-section { 
	background-image: url('../../images/Darkerbackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
  	margin-top:109px;
  	margin-bottom:70px;
  		.form{
  			width:510px;
  			display:block;
  			padding-top:70px;
  			padding-bottom:70px;
  			margin:0 auto;  			
  			h5{
  				font-family:$font-stack;
  				font-size:31px;
  				color:$all-white;
  				text-align:center;
  				margin-bottom:12px;
  				font-weight:300;
  			}
  			p {
  				font-family:$font-stack;
  				font-size:18px;
  				color:$all-white;
  				font-weight:300;
  				margin-bottom:20px; 
  			}
  			.container {
  				width:500px;  
  				input[type=text] {
  					display:inline-block;
  					width:70%;
  					height:48px;
  					border-radius:30px 0 0 30px;
  					box-sizing: border-box;
  					border:none;
  					font-family:$font-stack;
  					color:#B7B7B7;
  					font-size:14px;
  					padding-left:10px;
  				}
  				.subscribe {
  					display:inline-block;
  					width:30%;
  					height:48px;
  					border-radius:0 30px 30px 0;
  					background-color:#FEB341; 
  					float:right;
  					text-align:center;
  					border:none;
  					font-family:$font-stack;
  					font-size:16px; 
  					color:$all-white;
  				}
  			}
  		}
	}
.reviews {
	font-family:$font-stack;

	.copy-nine {
		display:block;
		text-align:center;
		font-size:40px;	
	}
	.copy-ten {
		display:inline-block;
		.box-copy-four {
			text-align:center;
			display:inline-block;
			margin:73px 49px 74px 0;
				.tf-ion-quote:before {
	  			content:"\f347";
	  			font-family:"themefisher-font";
	  			font-size:40px;
	  			color:#FDA920;
	  			width:30px; 
				}
				.description {
					width:322.36px; 
					font-family:"Lora";
					font-size:14px;
					font-style:italic; 
					color:#777777;
					margin:25px auto;
					font-weight:italic;
					line-height:20px;
				}
				.name{
					font-size:18px;
				}
				.ceo{
					margin:0 auto;
					font-weight:700;
					font-family:"Lora";
				}
				.title {
					font-size:14px;
				}
				.description, .name, .title {
					text-align:center;
				}
		}
		.box-copy-five {
			@extend .box-copy-four;
		}
		.box-copy-six { 
			@extend .box-copy-four; 
		}
	}
	.button {
		margin:0 auto;
		text-align:center; 
		button {
			width:176px;
			height:38px;
			border-radius:40px;
	 		background-color:$button-color;
	 		color:$all-white;
	 		font-size:16px;
	 		font-weight:lighter;
	 		font-family:$font-stack;
	 		border:none; 
		}
	}
}
	.mastfoot {
		width:100%; 
		background-color:#F4F4F4; 
		text-align:center;
		padding-top:50px;
		padding-bottom:50px;
		margin-top:76px; 
		.footer-copy {
			font-family:$font-stack;
				p 	{
						margin:23px auto;
						font-size:13px;
					
					}
				ul {
					list-style:none;
					li 	{
						display:inline-block;
						margin-right:10px;
						font-size:13px;
						font-weight:700;
						}
				}
				.copyright {
				font-size:11px; 
				}
		}
		
}













